<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instatalk</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card text-center mt-4 mb-4">
        <div class="card-body" data-user-id="<%= current_user.id %>">
          Welcome to Instatalk, <b><%= current_user.nickname %></b>!
        </div>
      </div>

      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
